ul {
    list-style-type: none;
    padding: 0;
    width: 500px;
}

.listItem {
    display: flex;
    justify-content: space-between;
    padding: 7px 5px;
    margin-bottom: 7px;
    border-radius: 5px;
}

.listItem:first-child {
    margin-top: 10px;
}

.listItem:hover {
    background-color: #f2f2f2;
}

.completed {
    text-decoration: line-through;
    color: grey;
}

.dispayNone {
    display: none;
}

.myApp {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todoContainer {
    border: 1px solid rgb(121, 113, 113);
    border-radius: 5px;
    padding: 25px;
    -moz-box-shadow: 14px -10px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 14px -10px 8px 0px rgba(34, 60, 80, 0.2);
    display: flex;
    flex-direction: column;
}

.todoHeader {
    text-align: center;
}

.input {
    width: 300px;
    border-radius: 5px;
    height: 30px;
    border: 1px solid green;
    margin-right: 10px;
}

.btn {
    height: 34px;
    padding: 0 15px 0 15px;
    background-color: #8d8;
    font-weight: 900;
    border: 1px solid #007e00;
    border-radius: 2px;
}

.list {
    width: 370px;
    margin: 0;
}

.deleteBtn {
    background-color: transparent;
    border: transparent;
    color: red;
    font-size: 16px;
}
.deleteBtn:hover{
    background-color: gainsboro;
}

.footer {
    margin-top: 20px;
    padding-top: 5px;
    display: flex;
    border-top: 1px solid#ccc;
}

.stateAll {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0 4px;
    padding: initial;
    border: initial;
    position: absolute;
    z-index: 2;
    opacity: 0;
}

.clearBtn {
    background: #ff8d8d;
    padding: 5px 10px;
    border: 1px solid #7e0000;
    border-radius: 4px;
    margin-right: 5px;
}
.stateContainer{
    display: flex;
}
.stateRadio{
    width: 50px;
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 0;
    padding: initial;
    border: initial;
    position: relative;
    right: 20px;
    z-index: 2;
    opacity: 0;
}
.stateAllText{
    position: relative;
    left: 40px;
    z-index: -1;
    cursor: default;
    border:1px solid transparent;
}
.stateChange{
  border-top: 1px solid blue;

}
.stateContainer{
    margin-right: 10px;
    cursor: default;
}
